body {
  margin:0;
  font-family: Arial;
  background: linear-gradient(135deg,#141e30,#243b55);
  color:white;
}

/* NAV */
header {
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:#111;
}
.logo {color:#ff4ecd;font-size:22px;font-weight:bold;}
nav a {
  margin-left:20px;
  color:white;
  text-decoration:none;
}
nav a:hover {color:#ff4ecd;}

/* HERO */
.hero {
  height:300px;
  background:url('https://wallpapercave.com/wp/wp5117103.jpg') center/cover;
  display:flex;
  align-items:center;
  padding:30px;
}
.hero h1 {
  font-size:40px;
  background:linear-gradient(to right,#ff4ecd,#00f2fe);
  -webkit-background-clip:text;
  color:transparent;
}

/* CARDS */
.section {padding:20px;}
.cards {display:flex;gap:15px;overflow-x:auto;}
.card {
  min-width:200px;
  background:#1c1c1c;
  border-radius:10px;
  overflow:hidden;
  transition:.3s;
}
.card:hover {transform:scale(1.08);}
.card img {width:100%;}
.card h3 {padding:10px;}

/* BLOG */
.blog {background:#1c1c1c;padding:15px;margin:10px;border-radius:10px;}
footer {text-align:center;padding:20px;background:#111;}
